<VirtualHost *:80>
    ServerName backend.myracepics.com
    DocumentRoot /var/www/backend.myracepics.com/public

    <Directory /var/www/backend.myracepics.com/public>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
